<table class="table" [ngClass]="{'empty' : logService.logs.length < 1}">
  <thead>
    <tr>
      <th></th>
      <th>Datetime</th>
      <th>Log</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let log of logService.logs">
      <tr logs-row [ngClass]="{'active-line':log.pioneerRevelTracking?.selected}"
        (expandRowSelected)="onExpandRowSelected()" [(log)]="log" [active]="log.pioneerRevelTracking?.selected"></tr>
      <tr logs-row-expanded [ngClass]="{'active-expanded':log.pioneerRevelTracking?.selected}"
        *ngIf="log.pioneerRevelTracking?.selected" [(log)]="log" [active]="log.pioneerRevelTracking?.selected"></tr>
      <tr logs-row-fields [ngClass]="{'active-expanded':log.pioneerRevelTracking?.selected}" [(log)]="log"></tr>
    </ng-container>
  </tbody>
</table>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPage()">
</mat-paginator>
