@import "../../../bootstrap.scss";
:host {
  display: block;
  background: color('white');
}

.main-content {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $gray-300;
  .info,
  .actions,
  .toggle {
    font-size: 14px;
  }
  li {
    padding-top: 5px;
  }
  .toggle {
    margin-right: 1rem;
  }
  .actions li {
    cursor: pointer;
    &:hover {
      color: $gray-600;
    }
  }
  ul {
    margin: 0;
  }
  .slide-toggle {
    margin-top: -1.5px;
  }
}

.sub-content {
  padding: 1rem;
  background-color: $gray-100;
  text-align: center;
  border-bottom: 1px solid $gray-300;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    li {
      font-size: 14px;
      span {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .active {
    border: 1px solid $gray-400;
  }
}
