<div class="container-fluid flex-xl-nowrap">
  <div class="row">
    <div class="col-lg-2 col-md-3 p-0 pr-logs-aside">
      <log-canvas-sidebar></log-canvas-sidebar>
    </div>
    <div class="col-lg-10 col-md-9 p-0 pr-logs-canvas">
      <logs-top-bar></logs-top-bar>
      <logs-filters *ngIf="queryBuilder.currentSearchFilters.length > 0"></logs-filters>
      <div class="reveal-card-container">
        <div class="reveal-card">
          <div class="row">
            <div class="col-sm">
              <div class="container-fluid p-0">
                <logs-table></logs-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="clearfix">
        <p class="float-left">© 2018. Developed by <a alt="Chad Ramos" href="https://twitter.com/chad_ramos">Chad
            Ramos</a> at <a alt="Pioneer Code" href="https://pioneercode.com">Pioneer Code</a> </p>
        <div class="float-right">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://github.com/PioneerCode/pioneer-reveal">
                <i class="fas fa-code-branch"></i> Github
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
</div>
