@import "../bootstrap";

.loader {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  padding: 0.25rem 1rem;
  background: theme-color("dark");
  box-shadow: 0 0 11px rgba(0,0,0,0.13);
  position: fixed;
  z-index: 1028;
  height: 46px;
  width: 100%;
  h1{
    margin: 0;
    color: color("white");
    font-size: 2rem;
  }
  .icon {
    width: 34px;
    display: table-cell;
  }

  ul {
    margin: 0;
  }
}
main {
  padding: 46px 0 0;
  background: $gray-200;
}
