@import "../bootstrap";

.loader {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  padding: 0.25rem 1rem;
  background: theme-color("dark");
  h1{
    margin: 0;
    color: color("white");
    font-size: 2rem;
  }
  .icon {
    width: 34px;
    display: table-cell;
  }

  ul {
    margin: 0;
  }
}
