<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-sm">
      <pioneer-reveal-log-indexes></pioneer-reveal-log-indexes>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-sm">
      <logs-application-aggregation></logs-application-aggregation>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-sm">
      <pioneer-reveal-logs-fields></pioneer-reveal-logs-fields>
    </div>
  </div>
</div>
