<h5>Indices</h5>
<ul>
  <li>
    <mat-checkbox [disabled]="stateService.isLoading || !logService.validIndices[indexTypeEnum.Error]" (change)="onCheckboxChanged(indexTypeEnum.Error)" [checked]="logService.validIndices[indexTypeEnum.Error]"><i class="fas fa-bug"></i>
      Error</mat-checkbox>
  </li>
  <li>
    <mat-checkbox [disabled]="stateService.isLoading || !logService.validIndices[indexTypeEnum.Usage]" (change)="onCheckboxChanged(indexTypeEnum.Usage)"><i class="fas fa-user-ninja"></i>
      Usage</mat-checkbox>
  </li>
  <li>
    <mat-checkbox [disabled]="stateService.isLoading || !logService.validIndices[indexTypeEnum.Performance]" (change)="onCheckboxChanged(indexTypeEnum.Performance)"><i class="fas fa-chart-bar"></i>
      Performance</mat-checkbox>
  </li>
  <li>
    <mat-checkbox [disabled]="stateService.isLoading || !logService.validIndices[indexTypeEnum.Diagnostic]" (change)="onCheckboxChanged(indexTypeEnum.Diagnostic)"><i class="fas fa-question-circle"></i>
      Diagnostic</mat-checkbox>
  </li>
</ul>
