@import "../../../bootstrap.scss";

.table {
  margin: 0;
  th {
    border-top: none;
  }
}

.table.empty thead th {
    border-bottom: none;
}

tr.active-line, tr.active-expanded {
  background: lighten(theme-color('primary'), 35%);
}

.active-expanded {
  border-top: none;
}

th:nth-child(1){
  width: 26px;
}

th:nth-child(2){
  width: 180px;
}
